extends layout

block content
     h4= title
        form#added_cars(name="addcars", method="post" , action="/add_success")
            span brand
            input#brand(type="text" ,placeholder="brand" name="brand")
            <br>
            input#color(type="text" , placeholder="color" name="color")
            <br>
            button#submit(type="submit") submit