extends layout

block content
    h4= title
    each allcars, i in listcar
        form#update(name='updatecars' , method='post' ,action='/updatecars/#{allcars._id}')
            span brand
            input#brand(type="text" ,name="brand" value="#{allcars.brand}")
            span color
            input#color(type="text" ,name="color" value="#{allcars.color}")
            button#cars(type="submit") submit