extends layout

block content

    h3 list cars

    ul
        each allcars,i in listcar
            brand is #{allcars.brand} and color is #{allcars.color}
            a(href="editcars/#{allcars._id}") Edit

            <br>