extends layout

block content

    if notification == 'right'
        p Wrong Password
    esle

    h4 Login
    form#validation(name="validation" , method= "post" ,action="/validation")
        span Username
        input#username(type="text" ,name="username")
        <br>
        span Password
        input#password(type="password",name="password")
        <br>
        button#submit(type="submit") Login