extends layout

block content
    h4 register account
    form#register(name="register" , method='post' ,action="/reg_success")
        span username
        input#username(type="text",name="username")
        <br>
        span password
        input#pass(type="password",name="password")
        <br>
        button#submit(type="submit") submit
